<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:using:SizeRollingFile" value="Serilog.Sinks.RollingFile.Extension" />
    <add key="serilog:write-to:SizeRollingFile.pathFormat" value="C:\temp\logger\log-{Date}-{Level}.txt" />
    <add key="serilog:write-to:SizeRollingFile.fileSizeLimitBytes" value="20480" />
    <add key="serilog:write-to:SizeRollingFile.retainedFileDurationLimit" value="00:01:30" />
    <add key="serilog:write-to:SizeRollingFile.outputTemplate" value="{Timestamp:O} [{Level}] {MachineName} {SourceContext:l} {Message}{NewLine}{Exception}" />
  </appSettings>
  <specFlow>
    <unitTestProvider name="NUnit" />    
  </specFlow>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
